p{
    width: 50px;
    display: inline;
    margin-top: 2%;
}

p1{
    width: 50px;
    display: block;
    padding-left: 48%;
}

p2{
    display: none;
}

p3{
    visibility: hidden;
}

h1{
    margin-top: 2%;
}

body{
    background: cadetblue;
    text-align: center;
}

.Display{
    padding-left: 1%;
    align-items: center;
    margin-top: 2%;
}