h1{
    text-align: center;
    margin-top: 2%;
    color:orange;
}
.Float{
    padding-left: 32%;
    margin-top: 2%;
}

.FloatR{
    float: right;
    margin-top: 2%;
    font-size: 20px;
}

.FloatL{
    float: left;
    margin-top: 2%;
    font-size: 20px;
}

.FloatN{
    float: none;
    margin-top: 2%;
    font-size: 20px;
}
 
.FloatI{
    float: inherit;
    margin-top: 2%;
    font-size: 20px;
}

body{
    background: royalblue;
}
    